// styles.scss

@import "./Sass/Utilities/variables";
@import "./Sass/Utilities/themes";
@import "./Sass/Components/accordion";
@import "./Sass/Components/accrediation";
@import "./Sass/Components/buttons";
@import "./Sass/Components/card";
@import "./Sass/Components/footer";
@import "./Sass/Components/nav";
@import "./Sass/Utilities/assets";
@import "./Sass/Utilities/global";


body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.meet-div {
  background-image: linear-gradient(rgba(0, 36, 78, 0.8), rgba(0, 36, 78, 0.8)), url(https://image.dream.snhu.edu/lib/fe9213737460007973/m/1/a43817ad-5225-43a0-bd29-0d66e87dde59.png); 
  height: 20rem;
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center; 
}


.person-smile {
  display: none;
  
}

.laptop-img {
  border-radius: 9px;
  width: 100%;
  max-width: 30rem;
}


.testimony {
  background: linear-gradient($ink-blue 23rem, #fff 23rem);
}


.f6 {
  font-size: 36px;
}


.ug-head {
  margin-top: 6rem;
}

.wsnw {

  white-space: normal;
}
  
 



@media screen and (min-width: 330px) {
  .testimony {
    background: linear-gradient($ink-blue 41rem, #fff 41rem);
  }
}


@media screen and (min-width: 390px) {
  .testimony {
    background: linear-gradient($ink-blue 40rem, #fff 40rem);
  }
}
  

@media screen and (min-width: 425px) {
  .testimony {
    background: linear-gradient($ink-blue 36rem, #fff 36rem);
  }
}

@media screen and (min-width: 539px) {
  .testimony {
    background: linear-gradient($ink-blue 30rem, #fff 30rem);
  }
}

@media screen and (min-width: 768px) {
  
  .testimony {
    background: linear-gradient($ink-blue 23rem, #fff 23rem);
  }
}
  
@media screen and (min-width: 990px) {
  
  .testimony {
    background: linear-gradient($ink-blue 18rem, #fff 18rem);
  }
}

@media screen and (min-width: 1024px) {
  
  .testimony {
    background: linear-gradient($ink-blue 17rem, #fff 17rem);
  }
}

@media screen and (min-width: 1200px) {
  .person-smile {
    border-radius: 9px;
    width: 468px;
    transform: translate(100px, 20px);
    display: block;
  }

  .testimony {
    background: linear-gradient($ink-blue 26rem, #fff 26rem);
  }

  .wsnw {
    white-space: nowrap;
  }
}

@media screen and (min-width: 1200px) {
  
  .testimony {
    background: linear-gradient($ink-blue 24rem, #fff 24rem);
  }

  
}